.gallery-container {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
}
div.gallery {
    flex: 1 1 auto;
    margin: 5px;
}

div.gallery img {
    max-height: 300px;
    max-width: 300px;
}

.photo {
max-width: 800px; 
max-height: 800px;
}
