/* Style the tab content */
.tabcontent {
    display: flex;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.container-totals {
    align-content: center;
    display: flex;
    justify-content: space-around;
}

.totalCategoryCost {
    flex: 1 1 calc(15% - 20px);
    text-align: center;
    color: white;

}

#totalCost {
    flex-direction: column;
}

#total-cost {
    flex: 3 1 20%;
    background-color:orangered;
}

#gas-cost-total {
    background-color: black;
}

#camping-cost-total {
    background-color: forestgreen;
}

#food-cost-total {
    background-color: goldenrod;
}

#entertainment-cost-total {
    background-color:crimson;
}

#misc-cost-total {
    background-color: cornflowerblue;
}
.totalCategoryCost label {
    font-size: 18px;
}

.totalCategoryCost p {
    font-size: 32px;
}

.containerFilter {
    margin: 20px 0px 20px 15px;
}

.containerFilter select {
    min-width: 60px;
}

#tableCost tr:nth-child(even) {
    background-color:lightgray;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}


