html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
	height: 100%;
}


.view {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: gray;
    width: 100%;
}


ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	z-index: 9999;
}

ul.topnav li {
	float: left;
}



ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
	background-color: #111;
}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
	ul.topnav li.right, 
	ul.topnav li {float: none;}
}

.wrapper {
	min-height: 100%;
	margin-bottom;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
	color: #b94a48;
}

.field-validation-valid {
	display: none;
}

input.input-validation-error {
	border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
	border: 0 none;
}

.validation-summary-errors {
	color: #b94a48;
}

.validation-summary-valid {
	display: none;
}
#container_tracker{
	position: relative;
}
#moneySpent {
	position:absolute;
	left:0px;
}

#moneySpent > p > a {
	color: green;
	font-size: 40px;
	text-decoration: none;
}

#milesTraveled {
	position:absolute;
	right:0px;
}

#milesTraveled > p {
	color: rgb(255, 153, 0);
	font-size: 40px
}

/*Index Page Main display Info*/
.indexFlexContainer {
    display: flex;
    flex-wrap: wrap;
}

#photoBillboard {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.image-slide {
    max-width: 1000px;
    max-height: 583px;
    position: relative;
    
}

.image-container {
    position:relative;
}

.display-left {
    position: absolute;
    left: 0px;
    top: 50%;
}

.display-right {
    position: absolute;
    right: 0px;
    top: 50%;
}

/*Blog Post Selection Display: How they are displayed to be selected*/

.blogMain {
    display: flex;
    flex-wrap: wrap;
}

.blogEntry {
    background-color: white;
    flex: 0 1 calc(25% - 20px);
    margin: 20px 10px 20px 10px;
   
}

.metaInfo {
    font-size: 12px;
}

.blogEntryHeader {
    font-size: 24px;
}

.blogEntryHeader > a {
    color:black;
    text-decoration: none;
}

.blogEntryHeader > a:hover {
    transition: .5s;
    opacity: .6;
}
.entry-content {
    font-size: 16px;
}

.read-more-link {
    color: red;
}

/*How the Actual Blog Post Is Displayed when selected for reading*/
.post_flex_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.post_flex_item {
    flex: 1 1 800px;
    max-width: 50%;
}