html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
	height: 100%;
}

.flex_container {
	display: flex;
	flex-wrap: wrap;
	background-image: linear-gradient(260deg, darkgrey 0%, lightgrey 100%);
}

.box {
	background:rgba(255,255,255,0.2);
	margin: 10px;
	font-size: 30px;
	color: black;
	text-align: center;
	padding:10px;
	flex: 1 1 calc(25% - 20px);
}

.box > a {
	color: black;
	text-decoration: none;
}

.box:hover .postInfoHover {
	opacity: 1;
	display: flex;
	flex-wrap: wrap;
	
}

 .box:hover .postInfoHover > div {
	 flex: 1;
	}

.postInfoHover {
	display: none;
	opacity: 0;
	transition: .5s;
	text-align: left;
	
}

.view {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: gray;
    width: 100%;
}
.box:hover .postBody {
	opacity: .4;
	transition: .5s;
}


ul.topnav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	z-index: 9999;
}

ul.topnav li {
	float: left;
}

.post_flex_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.post_flex_item {
    flex: 1 1 800px;
    max-width: 50%;
}

ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
	background-color: #111;
}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
	ul.topnav li.right, 
	ul.topnav li {float: none;}
}

.wrapper {
	min-height: 100%;
	margin-bottom;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
	color: #b94a48;
}

.field-validation-valid {
	display: none;
}

input.input-validation-error {
	border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
	border: 0 none;
}

.validation-summary-errors {
	color: #b94a48;
}

.validation-summary-valid {
	display: none;
}
#container_tracker{
	position: relative;
}
#moneySpent {
	position:absolute;
	left:0px;
}

#moneySpent > p > a {
	color: green;
	font-size: 40px;
	text-decoration: none;
}

#milesTraveled {
	position:absolute;
	right:0px;
}

#milesTraveled > p {
	color: rgb(255, 153, 0);
	font-size: 40px
}

