{% extends 'app/layout.html' %}

{% block content %}

<div class="blogMain">
  {% for post in posts %}
    <div class="blogEntry">
        <div class="blogEntry-MetaInfo">
            <span class="metaInfo"><time class="time-date-blog-entry-posted" >{{post.datePosted}}</time> <i>by</i> Ian Bruyere</span>
        </div>
        <div class="blogEntryTitle"><h2 class="blogEntryHeader"><a href="{{post.get_absolute_url}}">{{post.title}}</a></h2></div>
        <div class="entry-content">
          <p>
              {% autoescape off %}
              {{ post.body|truncatechars:175 }}
              {% endautoescape %}
              <br/>
              <br />
              <span><a class="read-more-link" href="{{ post.get_absolute_url }}">Read More</a></span>
          </p>
        </div>
    </div>
  {% endfor %}
</div>

{% endblock %}