{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<!--<h3>{{ message }}</h3> -->

<p>Minor Interactions is first and foremost a playground for myself. <br />
    I like to program and I am sorely lacking the skills I desire. So I made Minor Interactions <br />
    to learn web frameworks, paradigms, work on my CSS/design, and hopefully practice good code.  <br /><br/>

    Secondly, it is a way to display and work on skills not related to programming; <br/>
    hopefully recieving feedback to accelerate my learning. Obvioudly my coding isn't the only <br/>
    thing on display here and I look forward to posting things and hopefully getting feedback. 
     <br /><br/>
    
    Finally, it is a place for me to document, at least initially, my trip around the United States <br/>
    in such a way for others to either plan their own or join me on mine. Hopefully the by the numbers page<br/>
    gives people a view of how little a moderately ambitious road trip can cost. The trip map can possibly   <br />
    can give possibilities of places to visit and what to do there. The pictures inspire and tantalize. <br />
    The blog posts document the mentality, planning, and preparation process, but also tease out <br />
    those inbetween moments that snapshots can only hint at.  <br/><br/>

    Feedback is welcome.  The web is often an echo chamber and this particular set of quarters is wholly <br/>
    set up to be as such for me. But I'd rather my own shouts reach listening ears than rebound to deafen me.  <br/>
    If ever an aspect of the site strikes you profoundly, disturbs you, or felt especially clumsy, <br />
    feel free to shoot me an email with constructive criticism and I will answer in a reasonable amount of time. <br/>
     Suggestions for site features can also be brought up via email. I have a lot planned for this site, <br/>
    but suggestions can let me prioritize even if I have already thought of it. <br/> <br/>
    

    Welcome to Minor Interactions, where I hope my weak flappings now will one day give rise to hurricanes.
    </p>

{% endblock %}