{% extends "app/layout.html" %}

{% block content %}
<style>
    .image-slides {display: none;}
</style>
<div class="indexFlexContainer">
    <div id="photoBillboard">
        <div class="image-container">
        {% for image in images %}
          <img class="image-slide" src="{{MEDIA_URL}}{{image.image.url}}"/>
        {% endfor %}

          <!--<button class="display-left" onclick="plusDivs(-1)">&#10094;</button>
          <button class="display-right" onclick="plusDivs(+1)">&#10095;</button>-->
        </div>
    </div>
    <div class="blogMain">
   {% for post in posts %}
    <div class="blogEntry">
        <div class="blogEntry-MetaInfo">
            <span class="metaInfo"><time class="time-date-blog-entry-posted" >{{post.datePosted}}</time> <i>by</i> Ian Bruyere</span>
        </div>
        <div class="blogEntryTitle"><h2 class="blogEntryHeader"><a href="{{post.get_absolute_url}}">{{post.title}}</a></h2></div>
        <div class="entry-content">
          <p>
              {% autoescape off %}
              {{ post.body|truncatechars:175 }}
              {% endautoescape %}
              <br/>
              <br />
              <span><a class="read-more-link" href="{{ post.get_absolute_url }}">Read More</a></span>
          </p>
        </div>
    </div>
  {% endfor %}
    </div>
</div>

{% block scripts %}
<script src="/static/app/scripts/index.js" ></script>
<script>
    var myIndex = 0;
    carousel();

    function carousel() {
        var i;
        var x = document.getElementsByClassName("image-slide");
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        myIndex++;
        if (myIndex > x.length) { myIndex = 1 }
        x[myIndex - 1].style.display = "block";
        setTimeout(carousel, 4000); // Change image every 2 seconds
    }
</script>
{% endblock %}

{% endblock %}
