
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Minor Interactions</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}" />
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
</head>

<body>

    <div class="wrapper">
        {% include 'app/loginpartial.html' %}
{% block content %}{% endblock %}
    </div>
        <hr/>
        <footer>
            <div id="container_tracker" height="50px" width="100%">
                <div id="moneySpent" >
                   <p color="green"> <a href="{% url 'bythenumbers' %}">${{totalCost.cost__sum}}</a></p>
                </div>
                <div id="milesTraveled" >
                    <p color="yellow"><a href="{% url 'bythenumbers' %}">{{totalDistance.cumulativeMilesTraveled__sum}}</a></p>
                </div>
            </div>
            <!--<p>&copy; {{ year }} - My Django Application</p>-->
        </footer>


    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
    <script src="{% static 'app/scripts/bootstrap.js' %}"></script>
    <script src="{% static 'app/scripts/respond.js' %}"></script>
{% block scripts %}{% endblock %}

</body>
</html>
