{% extends "app/layout.html" %}
{% block content %}
<div id="container">
  {% if user.is_authenticated %}
  <div class= "options-box">
              <!--<select onchange="openTab(event)" id="ddlOptions">
                  <option value="currentPlans" >Current Trip Plans</option>
                  <option value="pendingSuggestions">Pending Suggestions</option>
                  <option value="makeSuggestion">Make Suggestion</option>
              </select>
              <hr />
              <!-- put in content of trip, broken into segments-->
             <!-- <div id="currentPlans" class="tabcontent" >
                  <h3>Current Trip</h3>
                  <!-- needs to display current planned trip route -->
              <!--</div>  -->
               <!--forms to make and submit a suggestion-->
      
              <div id="makeSuggestion">
                  <h1 class="firstHeading"> Make A Suggestion</h1>
                  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                  <input id="pac-input" class="controls" type="text" placeholder="Search Box" onblur="geocodeAddress(map)">
                  <input id="submit" type="button" value="Geocode"> 
                  <form  method="post" >
                      {% csrf_token %}
                      {{ mapMarkersForm.as_p }}
                      <input type="submit" value="Submit" onclick="geocodeAddress(map)"/>
                  </form>
              </div>

          </div>
    {% endif %}
    <div id="map"></div>
 </div>
     

<!-- need to place this into its own file probably called init map -->
<script src="/static/app/scripts/jquery-1.10.2.js"></script>
<script>var points = '{{ markers_json|escapejs }}'; </script>
<script src="/static/app/scripts/tripOutline.js"></script>
<script type="text/javascript"> </script>
<link rel="stylesheet" href="/static/app/content/tripOutline.css" />

<!-- put in an APU key for Google-->
    <script 
    
      src="https://maps.googleapis.com/maps/api/js?key==places">
    </script>

{% endblock %}
